<h1>
    队列操作
</h1>
<h2>
    {$strCache}
</h2>

<ul class="pagination">
	{foreach $arrLStr as $k=>$str}
  		<li class="page-item {if $k==5}active{/if}"><a class="page-link" href="#">{$str}</a></li>
  	{/foreach}
</ul>

<p class="text-primary">{$strFirst}</p>
<p class="text-primary">{$strLast}</p>

<h1>集合操作</h1>
<h2>{$strSLen}</h2>
<ul class="pagination">
	{foreach $arrSStr as $k=>$str}
  		<li class="page-item {if $k==5}active{/if}"><a class="page-link" href="#">{$str}</a></li>
  	{/foreach}
</ul>

<div class="progress">

<div class="progress-bar progress-bar-striped progress-bar-animated bg-success" style="width:{$strSLen}%"></div>

</div>

<h1>有序集合</h1>
<h2>{$strZEnd}</h2>


